<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="img/logo.jpg" width="125" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="home.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="fruits.html">Fresh Fruits</a>
                  <a class="dropdown-item" href="fruits.html">Fresh Vegetables</a>
                  <a class="dropdown-item" href="cereals.html">Cereals</a>
                  <a class="dropdown-item" href="organic.html">Organic Products</a>
                  
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="home.html">How it Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home.html">Connect</a>
            </li>
            <form class="form-inline">
                <button class="btn btn-outline-success" type="button">Login</button>
            </form>
          </ul>
        </div>
    </div>
</nav>
<!-- Content -->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">About Us</h1>
        </div>
        <hr>
    </div>
    <div class="row welcome text-justify">
        <div class="col-12">
            <p>AGRICHAIN INDIA is a pan-India electronic trading portal which networks the farmers to create a unified market for agricultural commodities.</p>
            <p><strong>VISION</strong> - To promote uniformity in agriculture marketing by streamlining of procedures across the integrated markets, removing information asymmetry between buyers and sellers and promoting real time price discovery based on actual demand and supply.</p>
            <p><strong>MISSION</strong> - Integration of APMCs across the country through a common online market platform to facilitate pan-India trade in agriculture commodities, providing better price discovery through transparent auction process based on quality of produce along with timely online payment.</p>
            <p><strong>OBJECTIVE</strong> - The main objectives of the Scheme are -</p>
            <ul>
                <li>to integrate markets first at the level of the States and eventually across the country through a common online market platform, to facilitate pan - India trade in agricultural commodities;</li>
                <li>to streamline marketing / transaction procedures and make them uniform across all markets to promote efficient functioning of the markets; </li>
                <li>to promote better marketing opportunities for farmers / sellers through online access to more buyers / markets, removal of information asymmetry between farmer and trader, better and real-time price discovery based on actual demand and supply of agricommodities, transparency in auction process, prices commensurate with quality of produce, online payment etc. that contribute to marketing efficiency;</li>
                <li>to establish quality assaying systems for quality assurance to promote informed bidding by buyers; and</li>
                <li>to promote stable prices and availability of quality produce to consumers. </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
    <div class="col-12">
        <h5>&copy; agrochain.com</h5>
    </div>
</div>
</div>
</body>
</html>