<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroChain</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="img/logo.jpg" width="125" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About Us</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Products
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="fruits.html">Fresh Fruits</a>
              <a class="dropdown-item" href="fruits.html">Fresh Vegetables</a>
              <a class="dropdown-item" href="cereals.html">Cereals</a>
              <a class="dropdown-item" href="organic.html">Organic Products</a>
              
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howitworks">How it Works</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#connect">Connect</a>
        </li>
        <form class="form-inline">
            <a href="/login"><button class="btn btn-outline-success" type="button">Login</button></a>
        </form>
      </ul>
    </div>
</div>
</nav>
<!-- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1"></li>
    <li data-target="#slides" data-slide-to="2"></li>
    <li data-target="#slides" data-slide-to="3"></li>
</ul>
<div class="carousel-inner">
    <!-- Slide 0 -->
    <div class="carousel-item active">
        <img src="img/fruit.jpg">
        <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInDown">Fresh Fruits</h1>
            <h3>Grapes, Pomegranates, Mangoes , Bananas, Oranges account for larger portion of fruits exported from ....</h3>
            <a href="fruits.html"><button" href="fruits.html" class="btn btn-light btn-lg">Read More</button>
            </a>
        </div>
    </div>
    <!-- Slide 1 -->
    <div class="carousel-item">
        <img src="img/vegetables.jpg">
        <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInDown">Fresh Vegetables</h1>
            <h3>Onions, Mixed Vegetables, Potatoes, Tomatoes, and Green Chilly contribute largely to the vegetable ....</h3>
            <a href="fruits.html"><button class="btn btn-light btn-lg">Read More</button>
            </a>
        </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
        <img src="img/cereals.jpg">
        <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInDown">Cereals</h1>
            <h3>The important cereals are - wheat, paddy, sorghum, millet (Bajra), barley and maize etc. According to the .....</h3>
            <a href="cereals.html"><button class="btn btn-light btn-lg">Read More</button>
            </a>
        </div>
    </div>
    <!-- Slide 3 -->
    <div class="carousel-item">
        <img src="img/organic.jpg">
        <div class="carousel-caption">
            <h1 class="animate__animated animate__fadeInDown">Organic Products</h1>
            <h3>Organic products are grown under a system of agriculture without the use of chemical fertilizers and .....</h3>
            <a href="organic.html"><button type="button" class="btn btn-light btn-lg">Read More</button>
            </a>
        </div>
    </div>
</div>    
</div>
<!-- Stake Holders -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-4">Stakeholders</h1>
    </div>
</div>
<div class="row welcome text-center">
    <hr>
    <div class="col-12">
        <p class="lead">Agri-food chains represent a complex network of inputs and outputs that link farm production inputs to food consumers. They involve a wide range of stakeholders. Out of which in India involves these following major stakeholders, on one end, it’s the farmers and on another, the consumers.</p>
    </div>
</div>
</div>
<!-- Three Column Section  -->
<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="img/farmer.jpg" height=100 width=100>
        <h3>Farmers</h3>
        <p>The farmers who grow crops according to the season and fertility of the soil, after growing the crops they accumulate the crops, further process and pack them and contact the wholesale vendors regarding the availability of stock.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <img src="img/consumer.jpg" height=100 width=100>
        <h3>Consumers</h3>
        <p>A convenient method to order the agro products such as food grains, vegetables online in wholesale or retail. Direct trade between customers and farmers through a virtual intermediary.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <img src="img/authority.png" height=100 width=100>
        <h3>Regulatory Authority</h3>
        <p>Regulatory bodies are established by governments or other organizations to oversee the functioning and fairness of agriculture markets. The goal of regulation is to prevent and investigate fraud, keep markets efficient and transparent.</p>
    </div>
</div>
<hr class="my-4">
</div>
<!-- How it Works -->
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <p id="howitworks">
        <h1 class="display-4">How it Works</h1>

        </p>
    </div>
    <hr>
    
</div>
<hr class="my-4">
</div>
<img src="img/howitworks.png" >
<!-- Connect -->
<div class="container-fluid padding">
<div class="row text-center padding">
    <div class="col-12">
        <p id="connect"><h2>Connect</h2>
        </p>
    </div>
    <div class="col-12 social padding">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-google-plus-g"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</div>
</div>
<!-- Footer  -->
<footer>
<div class="container-fluid padding">
<div class="row text-center">
    <div class="col-md-4">
        <img src="img/logo.jpg" width="125" height="50">
        <hr class="light">
        <p>555-555-5555</p>
        <p>email@myemail.com</p>
        <p>100, Race Course Road</p>
        <p>New Delhi, 110001</p>
    </div>
    <div class="col-md-4">
        <hr class="light">
        <h5>Our Hours</h5>
        <hr class="light">
        <p>Monday: 9am - 5pm</p>
        <p>Saturday: 10am - 4pm</p>
        <p>Sunday: Closed</p>
    </div>
    <div class="col-md-4">
        <hr class="light">
        <h5>Regional Offices</h5>
        <hr class="light">
        <p>Mumbai, Maharashtra</p>
        <p>Kolkata, West Bengal</p>
        <p>Bangalore, Karnataka</p>
        <p>Hyderabad, Telegana</p>
    </div>
    <div class="col-12">
        <hr class="light">
        <h5>&copy; agrochain.com</h5>
    </div>
</div>
</div>
</footer>
</body>
</html>